body{
   margin: 8px; 
   background-color:#f3f4ed;
}
body header{

    background-color:#dddddd;
    margin-bottom: 10px;
    height: 100px;
}
#navi{
    float: right;
    width: 20%;
    line-height: 100px;
    vertical-align: middle;
} 
body header div nav ul li{
    display: inline-block;
    margin: 5px;
}
body header div{
    height:100%;
    display: inline-block;
    width: 40%;
}
body header div img{
    height: 100%;
    width:95px;
    float: left;
}

body header div h1{  
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 100px;

}
body main{
    background-color:#dddddd;
    padding: 5px;
    height:500px;
    position: relative;
}
#secondHeader{
    position: absolute;
    right:43px;
    top:8px;
}
ol{
    position:absolute;
    right: 0px;
    top:25px;
    counter-reset: my_counter;
}
ol li::before{
    counter-increment: my_counter;
    content: counter(my_counter)". ";
    font-weight: bold;
}
ol li{
    margin-left:8px;
}
ul li{
    margin-left:8px;
}

ul li::before{
  content:"~ ";
  font-weight: 900;
}

h2{
    font-weight:bolder;
    margin-bottom:5px;
}
footer{
    font-weight: bold;
    margin-top:10px;
    height: 60px;
    background-color:#dddddd;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
}
#Education{
    position: absolute;
    right:500px;
    top: 25px;
}
#firstHeader{
    position: absolute;
    right:678px;
    top:8px;   
}